<a href="https://colab.research.google.com/github/Ashwin9084/Python_Education/blob/main/Pandas_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
dict1={
    'name':['harry','rohan','skillf','shubh'],
    'marks':[92,34,24,17],
    'city':['ranpur','kolkata','bareilly','antarctica']
}

In [ ]:
df = pd.DataFrame(dict1)

In [ ]:
df.to_csv('friends.csv')

In [ ]:
df.to_csv('friends_index_false.csv', index=False)

In [ ]:
df.head()

     name  marks        city
0   harry     92      ranpur
1   rohan     34     kolkata
2  skillf     24    bareilly
3   shubh     17  antarctica

In [ ]:
df.tail()

     name  marks        city
0   harry     92      ranpur
1   rohan     34     kolkata
2  skillf     24    bareilly
3   shubh     17  antarctica

In [ ]:
df.describe()

          marks
count   4.00000
mean   41.75000
std    34.21866
min    17.00000
25%    22.25000
50%    29.00000
75%    48.50000
max    92.00000

In [ ]:
harry = pd.read_csv('friends_index_false.csv')
harry

     name  marks        city
0   harry     92      ranpur
1   rohan     34     kolkata
2  skillf     24    bareilly
3   shubh     17  antarctica

In [ ]:
ser = pd.Series(np.random.rand(34))

In [ ]:
type(ser)

pandas.core.series.Series

In [ ]:
newdf= pd.DataFrame(np.random.rand(334,5),index=np.arange(334))

In [ ]:
newdf.head()

          0         1         2         3         4
0  0.511237  0.536061  0.125752  0.802009  0.048906
1  0.118324  0.030193  0.314049  0.813444  0.421294
2  0.078572  0.240290  0.397585  0.880303  0.426533
3  0.731267  0.790600  0.947929  0.451530  0.440119
4  0.858095  0.297856  0.357646  0.443598  0.909543

In [ ]:
newdf.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            324, 325, 326, 327, 328, 329, 330, 331, 332, 333],
           dtype='int64', length=334)

In [ ]:
newdf.columns

RangeIndex(start=0, stop=5, step=1)

In [ ]:
newdf.to_numpy()

array([[0.51123727, 0.53606061, 0.12575247, 0.80200936, 0.04890574],
       [0.11832411, 0.03019255, 0.3140494 , 0.81344436, 0.42129372],
       [0.07857154, 0.24028988, 0.39758511, 0.88030291, 0.42653302],
       ...,
       [0.65815821, 0.15634375, 0.05489554, 0.23508832, 0.19271527],
       [0.54571899, 0.87144713, 0.59112815, 0.99304002, 0.47734462],
       [0.29012377, 0.02433927, 0.82692328, 0.73447271, 0.66188823]])

In [ ]:
newdf.sort_index(axis=0, ascending=False)

            0         1         2         3         4
333  0.290124  0.024339  0.826923  0.734473  0.661888
332  0.545719  0.871447  0.591128  0.993040  0.477345
331  0.658158  0.156344  0.054896  0.235088  0.192715
330  0.589376  0.620610  0.881516  0.451592  0.022104
329  0.071782  0.577852  0.607164  0.379149  0.851625
..        ...       ...       ...       ...       ...
4    0.858095  0.297856  0.357646  0.443598  0.909543
3    0.731267  0.790600  0.947929  0.451530  0.440119
2    0.078572  0.240290  0.397585  0.880303  0.426533
1    0.118324  0.030193  0.314049  0.813444  0.421294
0    0.511237  0.536061  0.125752  0.802009  0.048906

[334 rows x 5 columns]

In [ ]:
newdf2 = newdf.copy()

In [ ]:
newdf.drop(0,axis=1)
# axis = 0 means row whearas axis = 1 means column

            1         2         3         4
0    0.536061  0.125752  0.802009  0.048906
1    0.030193  0.314049  0.813444  0.421294
2    0.240290  0.397585  0.880303  0.426533
3    0.790600  0.947929  0.451530  0.440119
4    0.297856  0.357646  0.443598  0.909543
..        ...       ...       ...       ...
329  0.577852  0.607164  0.379149  0.851625
330  0.620610  0.881516  0.451592  0.022104
331  0.156344  0.054896  0.235088  0.192715
332  0.871447  0.591128  0.993040  0.477345
333  0.024339  0.826923  0.734473  0.661888

[334 rows x 4 columns]

In [ ]:
newdf.columns=list('ABCDE')

In [ ]:
newdf.head()

          A         B         C         D         E
0  0.511237  0.536061  0.125752  0.802009  0.048906
1  0.118324  0.030193  0.314049  0.813444  0.421294
2  0.078572  0.240290  0.397585  0.880303  0.426533
3  0.731267  0.790600  0.947929  0.451530  0.440119
4  0.858095  0.297856  0.357646  0.443598  0.909543

In [ ]:
newdf.loc[:,['C','D']]

            C         D
0    0.125752  0.802009
1    0.314049  0.813444
2    0.397585  0.880303
3    0.947929  0.451530
4    0.357646  0.443598
..        ...       ...
329  0.607164  0.379149
330  0.881516  0.451592
331  0.054896  0.235088
332  0.591128  0.993040
333  0.826923  0.734473

[334 rows x 2 columns]

In [ ]:
newdf.loc[(newdf['A']<0.3) & (newdf['C']<0.1)]

            A         B         C         D         E
21   0.056333  0.395596  0.042926  0.679375  0.384055
22   0.241188  0.097293  0.033779  0.625771  0.946286
80   0.289943  0.610245  0.036257  0.130903  0.204301
89   0.128555  0.649690  0.052975  0.073771  0.523486
130  0.081835  0.760230  0.066394  0.707766  0.242319
195  0.230998  0.551915  0.080859  0.316620  0.123235
239  0.026370  0.058916  0.056298  0.211803  0.924875
270  0.064053  0.075089  0.069095  0.379311  0.199095
277  0.211736  0.535041  0.036109  0.309978  0.813642
299  0.284644  0.445346  0.043732  0.188712  0.198550

In [ ]:
newdf.iloc[0,4]
# iloc refers through index whereas loc refers through names

0.048905744656295824

In [ ]:
newdf.drop(['A','C'],axis=1,inplace=True)

In [ ]:
newdf

            B         D         E
0    0.536061  0.802009  0.048906
1    0.030193  0.813444  0.421294
2    0.240290  0.880303  0.426533
3    0.790600  0.451530  0.440119
4    0.297856  0.443598  0.909543
..        ...       ...       ...
329  0.577852  0.379149  0.851625
330  0.620610  0.451592  0.022104
331  0.156344  0.235088  0.192715
332  0.871447  0.993040  0.477345
333  0.024339  0.734473  0.661888

[334 rows x 3 columns]

In [ ]:
newdf.reset_index(drop=True,inplace=True)